.main {
    background-color: rgb(33, 33, 33);
}

.main img {
    width: 100%;
}

.headline {
    padding-top: 50px;
    padding-left: 570px;
    color: rgb(186, 142, 82);
    font-size: 25px;
}

.text {
    color: #ffffff;
    font-size: 18px;
    line-height: 27px;
    padding: 45px 250px 75px 250px;
}

.headline2 {
    padding-top: 50px;
    padding-left: 582px;
    padding-bottom: 30px;
    color: rgb(186, 142, 82);
    font-size: 25px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 160px;
    padding-bottom: 50px;
}

.group {
    text-decoration: none;
    color: rgb(186, 142, 82);
    font-size: 21px;
    margin-left: 45px;
}

.products a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}